.button {
    width: 150px;
    height: 60px;
    border-radius: 30px;
    @include flex-center-center;
    background: #0B98FF;
    border: none;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 24px;
    color: #FFFFFF;
    transition: all ease-in-out .1s;

    &:hover {
        background: #FFFFFF;
        color: #0B98FF;
        border: solid 1px #0B98FF;
    }

    &:active {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}