// properties for all elements

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

// libs 

@import "../../../js-libs/swiper/swiper-bundle.min";
@import "../../../scss-libs/mixins";
@import "../../../scss-libs/fonts";

// elements

@import "../../../scss-elems/container";
@import "../../../scss-elems/button";
@import "../../../scss-elems/title-white";
@import "../../../scss-elems/text";
@import "../../../scss-elems/hidden";
@import "../../../scss-elems/modal-window";
@import "../../../scss-elems/animation-translateY";
@import "../../../scss-elems/input";

// blocks

@import "../../../scss-blocks/logo-and-login/scss/logo-and-login";
@import "../../../scss-blocks/header-slider/scss/header-slider";
@import "../../../scss-blocks/opportunities/scss/opportunities";
@import "../../../scss-blocks/registration-banner/scss/registration-banner";
@import "../../../scss-blocks/footer/scss/footer";
@import "../../../scss-blocks/form/scss/form"