// properties for all elements

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

// libs 

@import "../../../js-libs/swiper/swiper-bundle.min";
@import "../../../scss-libs/mixins";
@import "../../../scss-libs/fonts";

// elements

@import "../../../scss-elems/container";
@import "../../../scss-elems/button";
@import "../../../scss-elems/title-white";

// blocks

@import "../../../scss-blocks/logo-and-login/scss/logo-and-login";
@import "../../../scss-blocks/header-slider/scss/header-slider";