.header-slider-wrapper {
    position: relative;

    &__slider-container {
        overflow: hidden;
    }

    &__slide {
        width: 100%;
        height: 816px;
        padding-left: 105px;
        padding-bottom: 80px;
        @include flex-builder(row, flex-start, flex-end);

        &_1 {
            @include background-cover(url("../../../scss-blocks/header-slider/img/slide-1.png"));
        }

        &_2 {
            @include background-cover(url("../../../scss-blocks/header-slider/img/slide-2.png"));
        }

        &_3 {
            @include background-cover(url("../../../scss-blocks/header-slider/img/slide-3.png"));
        }

        &_4 {
            @include background-cover(url("../../../scss-blocks/header-slider/img/slide-4.png"));
        }
    }

    &__pagination-block {
        height: 160px;
        position: absolute;
        right: 44px;
        top: 50%;
        z-index: 1;
        @include flex-builder(column, space-between, center);
        transform: translateY(-50%);
    }

    &__pagination-bullet {
        width: 10px;
        height: 10px;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        transition: all ease-in-out .1s;

        &:hover {
            transform: scale(1.2);
        }

        &_active {
            background: #FFFFFF;
        }
    }
}